*.mo
*.lnk
Crowdin/*
PotXliff/*
!PotXliff/.gitkeep
Preview/*
!Preview/Markdown/.gitkeep
!Preview/*.css
!Preview/*.ico
Tools/nvdaL10nUtil.exe
Tools/CrowdinRegistration
Tools/NVDA
Tools/msgmerge.exe
