*.mo
*.lnk
Crowdin/*
PotXliff/*
!PotXliff/.gitkeep
Preview/*
!Preview/Markdown/.gitkeep
!Preview/*.css
!Preview/*.ico
ProcessTranslation/*
!ProcessTranslation/*/.gitkeep
Tools/XLIFFTemplate/*
!Tools/XLIFFTemplate/.gitkeep
Tools/CrowdinRegistration
Tools/NVDA
Tools/NVDAL10n
Tools/L10nUtil.exe
Tools/L10nUtil.yaml
Tools/msgmerge.exe
